{% extends 'base.html' %}

{% block title %}
{{ title }}: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item_m in menu %}
<div class="card mb-3">
    <div class="card-header">
        Menu: <a href="{{ item_m.get_absolute.url }}">{{ item_m.category }}</a>
        {# Menu: <a href="{% url 'category' item_m.category.pk %}">{{ item_m.category }}</a> #}
    </div>
    <div class="card-body">
        {% if item_m.photo %}
        <img src="{{ item_m.photo.url }}" alt="" width="320" class="mr-3">
        {% else %}
        <img src="https://api.lorem.space/image/movie?w=150&h=220" alt="" class="mr-3">   <!-- ##### -->
        {% endif %}
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{ item_m.name }}</h5>
                <p class="card-text">{{ item_m.description|linebreaks|truncatewords:50 }}</p>
                <p class="card-text">Gia: {{ item_m.price }} Dong</p>
                <a href="{{ item_m.get_absolute_url }}" class="btn btn-primary">Xem ky</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">Tu {{ item_m.updated_at|date:"d-M-Y" }}</div>
</div>
{% endfor %}
{% endblock %}
