{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block title %}
    Đăng ký mới:: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
{% load crispy_forms_filters %}
<p>
    Vui lòng đăng nhập bằng một trong các tài khoản trên các mạng xã hội hiện có của bạn:<br></p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'Hoặc:' %}</div><br>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<h1>Đăng ký mới</h1>

<form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid">
         <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Đăng ký mới" %}</button><br>
    </div>
<!--     <button type="submit" class="btn btn-primary btn-block">Đăng ký mới</button>-->

</form>

{% endblock %}