{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block title %}
    Đăng ký mới:
{% endblock %}

{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
{% load crispy_forms_filters %}

<div class="text-center">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts.<br>Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

        <div class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>

        <div class="login-or border-top border-bottom my-3">{% trans 'Hoặc' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<h1>Đăng ký mới</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid">
        <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Đăng ký mới" %}</button>
        <br>
    </div>

</form>

{% endblock %}