{% extends 'base.html' %}

{% block title %}
Mon: {{ menu.name }}
{% endblock %}

{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Menu: <a href="{% url 'category' menu.category.pk %}">{{ menu.category }}</a>
    </div>
    <div class="card-body">
        {% if menu.photo %}
        <img src="{{ menu.photo.url }}" alt="" width="320" class="mr-3">
        {% else %}
        <img src="https://api.lorem.space/image/movie?w=150&h=220" alt="" class="mr-3">   <!-- ##### -->
        {% endif %}
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{ menu.name }}</h5>
                <p class="card-text">{{ menu.description|safe|linebreaks }}</p>
                <p class="card-text">Gia: {{ menu.price }} Dong</p>
                <a href="#" class="btn btn-primary">Mua online</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">Tu {{ menu.updated_at|date:"d-M-Y" }}</div>
</div>

<hr>
<div class="card mb-3">
    <div class="card-header">
        {{ menu.comments_menu.all.count }} Góp ý: <a >{{ menu.name }}</a>
    </div>

    <div class="card-body">
        <ul>
        {% for comment in menu.comments_menu.all %}
            {% if comment.status == True %}
                <li>
                {{ comment.created_at }}
                {{ comment.author }}
                {{ comment.text |safe |linebreaks  }}
                </li>
            {% else %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>

</div>

<div class="card mb-3">
    {% if request.user.is_authenticated %}
    <div class="card-body">
        <form action="" id="add_comment" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Them comment</button>
        </form>
    </div>
    {% else %}
    <div class="card-body">
        <h5>Xin quý vị đăng nhập để góp ý!</h5>
    </div>
    {% endif %}

</div>
{% endblock %}
