{% extends 'base.html' %}

{% block title %}
Mon: {{ menu_item.name }}
{% endblock %}

{% block sidebar %}
{% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Menu: <a href="{{ menu_item.get_absolute.url }}">{{ menu_item.category }}</a>
        {# Menu: <a href="{% url 'category' item_m.category.pk %}">{{ item_m.category }}</a> #}
    </div>
    <div class="card-body">
        {% if menu_item.photo %}
        <img src="{{ menu_item.photo.url }}" alt="" width="320" class="mr-3">
        {% else %}
        <img src="https://api.lorem.space/image/movie?w=150&h=220" alt="" class="mr-3">   <!-- ##### -->
        {% endif %}
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{ menu_item.name }}</h5>
                <p class="card-text">{{ menu_item.description|linebreaks }}</p>
                <p class="card-text">Gia: {{ menu_item.price }} Dong</p>
                <a href="#" class="btn btn-primary">Order</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">Tu {{ menu_item.updated_at|date:"d-M-Y" }}</div>
</div>
{% endblock %}
