{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Nhập vào
{% endblock %}

{% block content %}


<h1>{% trans "Nhập vào" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>
    Vui lòng đăng nhập bằng một trong các tài khoản trên các mạng xã hội hiện có của bạn:<br>
    Hoặc <a href="{% url 'register' %}">đăng ký mới</a>
<!--    for a {{ site_name }} -->
    và đăng nhập tài khoản bên dưới:</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'Hoặc:' %}</div><br>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="d-grid">
            <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Đăng nhập" %}</button><br>
            <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">
                {% trans "Quên mật mã?" %}</a>
    </div>

</form>
{% endblock %}
